<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
		<!-- namespace表示命名空间，值是唯一的并且为接口的名称 
		实现类不需要写，mybatis框架会自定生成接口的实现类 -->
	<mapper namespace="com.bridgeleed.store.mapper.CartMapper">
	
	<insert id="insertCart" parameterType="com.bridgeleed.store.bean.Cart">
	  insert into t_cart(
	   uid,goods_id,num,created_user,created_time
	  )values(
	  #{uid},#{goodsId},#{num},#{createdUser},#{createdTime}
	  )
	</insert>
	
	<select id="selectByUid" resultType="com.bridgeleed.store.vo.CartVo">
	 select
		  t_cart.id id,uid,goods_id goodsId,t_cart.num num,
		  image,title,price,
		  t_cart.created_user createdUser,
		  t_cart.created_time createdTime,
		  t_cart.modified_user modifiedUser,
		  t_cart.modified_time modifiedTime
	from
	 t_cart,t_goods
	where
	   goods_id = t_goods.id
	and uid=#{uid}   
	  
	    
	</select>
	 
	
	 
	</mapper>
	
	
	
	
	
	
	
	
	